<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="TallanInc.ShoppingReferenceApp" Version="1.0.5.0" Publisher="CN=AC3AEAD6-D248-4FD3-B0E1-A63B4256474F" />
  <Properties>
    <DisplayName>Shopping Reference App</DisplayName>
    <PublisherDisplayName>Tallan, Inc</PublisherDisplayName>
    <Logo>images\tinylogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Shopping Reference App" Logo="images\logo.png" SmallLogo="images\small.png" Description="Shopping.Client" ForegroundText="dark" BackgroundColor="#E5E1DC">
        <DefaultTile ShowName="noLogos" WideLogo="images\wide.png" ShortName="Shopping" />
        <SplashScreen Image="images\Splash.png" BackgroundColor="#E5E1DC" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>